<% if user_signed_in? %>
  <div class="custom-wrapper my-5">
    <h2>Welcome back, <%= current_user.first_name %>!</h2>

    <h3 class="my-5"><strong>Latest reports</strong></h3>
    <div class="card-container my-4">
      <% if @latest_found_item %>
        <div class="card custom-card my-3 p-3 bg-light">
          <div class="card-header">Found Report</div>
          <div class="card-body d-flex justify-content-between">
            <div class="left-section">
              <p class="card-text"><strong>Title:</strong> <%= @latest_found_item.title %></p>
              <p class="card-text"><strong>Description:</strong> <%= @latest_found_item.description %></p>
            </div>
            <div class="right-section text-start">
              <p class="card-text"><strong>Location:</strong> <%= @latest_found_item.location %></p>
              <p class="card-text"><strong>Staus:</strong> TBD</p>
              <%= link_to edit_found_item_path(@latest_found_item), class: "icon-link", title: "Edit" do %>
                <img src="<%= asset_path('Edit.svg') %>" width="16" height="16" alt="Edit" class="edit-icon">
              <% end %>

            </div>
          </div>
        </div>
      <% end %>

      <% if @latest_lost_item %>
        <div class="card custom-card my-3 p-3 bg-light">
          <div class="card-header">Lost Report</div>
          <div class="card-body  d-flex justify-content-between">
            <div class="left-section">
              <p class="card-text"><strong>Title:</strong> <%= @latest_lost_item.title %></p>
              <p class="card-text"><strong>Description:</strong> <%= @latest_lost_item.description %></p>
            </div>
            <div class="right-section text-start">
              <p class="card-text"><strong>Location:</strong> <%= @latest_lost_item.location %></p>
              <p class="card-text"><strong>Staus:</strong> TBD</p>
              <%= link_to edit_found_item_path(@latest_found_item), class: "icon-link", title: "Edit" do %>
                <img src="<%= asset_path('Edit.svg') %>" width="16" height="16" alt="Edit" class="edit-icon">
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <h3 class="my-5"><strong>Past reports</strong></h3>
    <div class="card-container my-4">
      <% @rest_found_items.each do |item| %>
        <div class="card custom-card my-3 p-3 bg-light">
          <div class="card-header">Found Report</div>
          <div class="card-body d-flex justify-content-between">
            <div class="left-section">
              <p class="card-text"><strong>Title:</strong><%= item.title %></p>
              <p class="card-text"><strong>Description:</strong><%= item.description %></p>
            </div>
            <div class="right-section text-start">
              <p class="card-text"><strong>Location:</strong> <%= item.location %></p>
              <p class="card-text"><strong>Staus:</strong> TBD</p>
              <%= link_to edit_found_item_path(@latest_found_item), class: "icon-link", title: "Edit" do %>
                <img src="<%= asset_path('Edit.svg') %>" width="16" height="16" alt="Edit" class="edit-icon">
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% @rest_lost_items.each do |item| %>
        <div class="card custom-card my-3 p-3 bg-light">
          <div class="card-header">Lost Report</div>
          <div class="card-body d-flex justify-content-between">
            <div class="left-section">
              <p class="card-text"><strong>Title:</strong><%= item.title %></p>
              <p class="card-text"><strong>Description:</strong><%= item.description %></p>
            </div>
            <div class="right-section text-start">
              <p class="card-text"><strong>Location:</strong> <%= item.location %></p>
              <p class="card-text"><strong>Staus:</strong> TBD</p>
              <%= link_to edit_found_item_path(@latest_found_item), class: "icon-link", title: "Edit" do %>
                <img src="<%= asset_path('Edit.svg') %>" width="16" height="16" alt="Edit" class="edit-icon">
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="container custom-width custom-card my-5">
          <h1>Welcome to FOUND_IT!</h1>
          <p>This platform helps people reunite with their lost belongings.</p>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
