<div class="custom-wrapper my-5">
  <h1>Edit Found Item Report</h1>
  <%= link_to 'â† Back', root_path,
      class: "btn btn-link mb-5",
      style: "color: black; text-decoration: none;" %>
  <% if current_user.nil? %>
    <h2>Oops, it seems like you need to log in first!</h2>
    <%= link_to "Log in", new_user_session_path, data: { "turbo-method": :get }, class: "btn btn-primary" %>
  <% else %>
    <%= simple_form_for found_item, html: { multipart: true } do |f| %>
      <% if found_item.errors.any? %>
        <div class="alert alert-danger alert-smaller">
          <h4><%= pluralize(found_item.errors.count, "error") %> prohibited this report from being saved:</h4>
          <ul>
            <% found_item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <!-- Show initial attached images -->

      <!-- Deactivating and Reactivating Add more image button -->
      <%= render partial: "image_upload_section", locals: { f: f, found_item: found_item } %>

      <%= f.input :category, collection: ItemCategories::CATEGORIES, prompt: "Select a category" %>
      <%= f.input :title %>
      <%= f.input :description %>

      <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <%= f.label :location %>
        <div data-address-autocomplete-target="search"></div>
        <%= f.input :location, label: false,
          input_html: { data: { address_autocomplete_target: "address" },
          style: "display:none;" } %>
      </div>
      <%= f.input :date_reported, as: :date %>
      <div class="d-flex gap-2 mt-3 mb-3">
        <%= f.button :submit, found_item.persisted? ? "Update Found Item" : "Report Found Item", class: "custom-action-btn" %>
        <%= f.submit found_item.persisted? ? "Update Found Item" : "Report Found Item", class: "btn btn-primary" %>
        <% if found_item.persisted? %>
          <%= button_to "Delete Report",
                      found_item_path(found_item),
                      method: :delete,
                      data: { turbo_confirm: "Are you sure?" },
                      class: "custom-outline-btn",
                      style: "text-decoration: none; display: inline-block; text-align: center;"%>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
