<div class="mx-5 p-4 my-5" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
  <%= simple_form_for found_item, html: { multipart: true } do |f| %>

    <% if @found_item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(found_item.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% found_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>
<!--
    <%= f.input :title %>

    <%= f.input :description,
        input_html: { rows: 5 },
        hint: "Must be at least 30 characters long" %>

    <%= f.input :category, collection: ItemCategories::CATEGORIES, prompt: "Select a category" %>
    <%= f.label :location %>
    <div data-address-autocomplete-target="search"></div>
    <%= f.input :location, as: :hidden, input_html: {data: {address_autocomplete_target: "address"}}%>

    <%= f.input :date_reported, as: :date %>
    <%# image was not update, empty array >
    <%#= f.input :images, as: :file, input_html: { multiple: true } %>

    <%= f.button :submit, class: "btn btn-primary mt-3" %>
  <% end %>
-->
