<div class="mx-5 p-4 my-5">
  <%= simple_form_for @found_item, html: { multipart: true } do |f| %>
    <%= f.input :title %>

    <%= f.input :description,
        input_html: { rows: 5 },
        hint: "Must be at least 30 characters long" %>

    <%= f.input :category, collection: ItemCategories::CATEGORIES, prompt: "Select a category" %>

    <%= f.input :location %>

    <%= f.input :date_reported, as: :date %>

    <%= f.input :images, as: :file, input_html: { multiple: true } %>

    <%= f.button :submit, class: "btn btn-primary mt-3" %>
  <% end %>
</div>