<% step = @step || 1 %>

<div class="match-steps-wrapper">
  <div class="match-steps">
    <div class="step-horizontal first <%= 'active' if step == 1 %>">
      <div class="step-circle">1</div>
      <div class="step-label">Check your match</div>
    </div>

    <div class="step-horizontal middle <%= 'active' if step == 2 %>">
      <div class="step-circle">2</div>
      <div class="step-label">Retrieve your item</div>
    </div>

    <div class="step-horizontal last <%= 'active' if step == 3 %>">
      <div class="step-circle">3</div>
      <div class="step-label">Confirm match</div>
    </div>
  </div>
</div>

<div class="match-card d-flex">
  <% if @match.found_item.images.attached? %>
    <div class="match-image">
      <%= image_tag @match.found_item.images.first, class: "img-fluid main-image" %>
      <% if @match.found_item.images.count > 1 %>
        <div class="thumbnails d-flex flex-wrap">
          <% @match.found_item.images.drop(1).each do |image| %>
            <div class="thumbnail">
              <%= image_tag image, class: "img-thumbnail" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="match-content">
    <div class="match-text mb-4">
      <h3><strong>ðŸ“Œ It's a match !</strong></h3>

      <% markers = [{
        lat: @match.found_item.latitude.to_f,
        lng: @match.found_item.longitude.to_f
      }] %>

      <% if step == 1 %>
        <p><%= @match.found_item.title %></p>

      <p><strong>Is this item yours ?</strong></p>

      <% elsif step == 2 %>
        <p><%= @match.found_item.title %></p>
        <p><strong>Description:</strong> <%= @match.found_item.description %></p>
        <p><strong>Location:</strong> <%= @match.found_item.location %></p>

      <div style="height: 400px; width: 100%; max-width: 800px; marging: auto;"
        data-controller="map"
        data-map-markers-value='<%= raw markers.to_json %>'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

       <% elsif step == 3 %>
      
        <p><%= @match.found_item.title %></p>
        <%= form_with model: [@lost_item, @match], method: :patch do |f| %>
          <div class="mb-3" style="width: 450px; font-weight: bold;">
            <%= f.label :review, "Leave a kind message to the finder:", class: "mb-2" %>
          </div>

        <div data-controller="badge">
          <%= f.text_area :review, rows: 3, class: "form-control", data: { badge_target: "textarea" }, style: "border-radius: 8px" %>

          <div class="badges mt-2">
            <% ["Thank you! â¤ï¸", "You're the best ðŸ‘", "You saved my day! ðŸ™", "You're awesome! ðŸ¥³"].each do |badge| %>
              <button
                type="button"
                class="badge-btn btn btn-outline-dark btn-sm me-2 mb-1"
                data-badge-text="<%= badge %>"
                data-action="click->badge#insertBadge"
                style="border-radius: 30px; border: solid 2px; width: 11rem; font-weight: bold; padding: 11px; margin: 12px;">
                <%= badge %>
              </button>
            <% end %>
          </div>
        </div>

          <%= f.hidden_field :confirmed, value: true %>
          <%= f.hidden_field :step, value: 3 %>
          <%= hidden_field_tag :finalize, true %>


          <%= f.submit "FoundIt!", class: "btn btn-success", style:"border-radius: 30px; width: 8rem; font-weight: bold; color: white; background-color: #f5b220; border-color: #f5b220; margin-left: 16rem;" %>
        <% end %>
      <% end %>
    </div>

    <div class="match-buttons d-flex gap-2 mt-3">
      <% if step > 1 %>
        <%= button_to "â† Back",
              lost_item_match_path(@lost_item, @match),
              method: :patch,
              params: { match: { confirmed: true, step: step - 1 } },
              class: "btn btn-link",
              style: "color: black; text-decoration: none; width: 6rem; padding-left: 0px;" %>
      <% end %>

      <% if step == 1 %>
        <%= button_to "No",
              lost_item_match_path(@lost_item, @match),
              method: :patch,
              params: { match: { confirmed: false } },
              class: "btn btn-light",
              style: "border-radius: 30px; border: solid 2px; width: 8rem; font-weight: bold;"  %>

        <%= button_to "Yes",
              lost_item_match_path(@lost_item, @match),
              method: :patch,
              params: { match: { confirmed: true, step: 2 } },
              class: "btn btn-warning",
              style: "border-radius: 30px; width: 8rem; font-weight: bold; color: white; background-color: #f5b220; border-color: #f5b220;" %>

      <% elsif step == 2 %>
        <%= button_to "Continue â†’",
                lost_item_match_path(@lost_item, @match),
                method: :patch,
                params: { match: { confirmed: true, step: 3 } },
                class: "btn btn-warning",
                style: "border-radius: 30px; width: 8rem; margin-left: 17rem; font-weight: bold; color: white; background-color: #f5b220; border-color: #f5b220;" %>

        <% if @match.found_item.latitude && @match.found_item.longitude %>
          <div style="height: 200px; width: 500px;"
              data-controller="map"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
              data-map-markers-value="<%= raw [{ lat: @match.found_item.latitude, lng: @match.found_item.longitude }].to_json %>">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
