<div class="mx-5 p-4">
  <h1><%= @lost_item.persisted? ? "Edit Lost Item" : "Report a Lost Item" %></h1>
</div>

<div class="mx-5 p-4 my-3">
  <% if current_user.nil? %>
    <h2>Oops, it seems like you need to log in first!</h2>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
  <% else %>
    <h3>Fill in the details below:</h3>

    <%= simple_form_for @lost_item, html: { multipart: true } do |f| %>
      <%= f.input :title %>
      <%= f.input :category, collection: ItemCategories::CATEGORIES, prompt: "Select a category" %>
      <%= f.input :description, error: "must be at least 30 characters long"%>
      <%= f.input :location %>
      <%= f.input :date_lost, as: :date %>

      <%= f.button :submit, @lost_item.persisted? ? "Update Lost Item" : "Report Lost Item", class: "btn btn-primary mt-3" %>
    <% end %>
  <% end %>
</div>
