<h1><%= @lost_item.title %></h1>

<p><strong>Description:</strong><br><%= @lost_item.description %></p>
<p><strong>Category:</strong> <%= @lost_item.category %></p>
<p><strong>Location:</strong> <%= @lost_item.location %></p>
<p><strong>Date Lost:</strong> <%= @lost_item.date_lost %></p>

<% if @lost_item.images.attached? %>
  <h3>Images:</h3>
  <% @lost_item.images.each do |img| %>
    <%= image_tag img.variant(resize_to_limit: [300, 300]) if img.content_type.starts_with?('image') %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_lost_item_path(@lost_item) %> |
<%= link_to 'Back', lost_items_path %> |
<%= link_to 'Delete', @lost_item, method: :delete, data: { confirm: 'Are you sure?' } %>
