<!DOCTYPE html>
<html>
  <head>
    <title>FoundIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid main-bg">
        <a class="navbar-brand" href="/">
          <img src="<%= asset_path('found_it_logo.svg') %>" width="48" height="48" class="d-inline-block align-middle logo-img" alt="Logo">
          <span class="brand-name ms-1 align-middle">Found it</span>
        </a>

        <% if user_signed_in? %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "custom-outline-btn btn-sm ms-2", style: "margin-right: 6rem;" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "custom-outline-btn btn-sm", style: "margin-right: 6rem;"%>
        <% end %>
      </div>
    </nav>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
        <%= message %>
      </div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
