<!DOCTYPE html>
<html>
  <head>
    <title>FoundIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container main-bg">
        <a class="navbar-brand" href="/">
          <img src="<%= asset_path('found_it_logo.svg') %>" width="30" height="30" class="d-inline-block align-top" alt="Logo">
          Found It
        </a>

        <% if user_signed_in? %>
          <div class="d-flex align-items-center ms-auto">
            <span class="navbar-text me-3"> <%= current_user.first_name %></span>

            <%= link_to notifications_path, class: "btn btn-outline-primary btn-sm position-relative me-3" do %>
              <i class="bi bi-bell"></i>
              <% unread_count = current_user.notifications.unread.count %>
              <% if unread_count > 0 %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <%= unread_count %>
                </span>
              <% end %>
            <% end %>

            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-sm" %>
          </div>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary btn-sm" %>
        <% end %>
      </div>
    </nav>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
        <%= message %>
      </div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
